.root {
    -fx-background-color: #fffef5;
}

.AnchorPane {
    -fx-background-color: #fffef5;
}

.button {
    -fx-background-color: #e0aa70;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, #e3ad87, 5, 0.0, 0, 1);
}

.label{
    -fx-font-size: 16px;
}

.primary-text {
    -fx-font-weight: bold;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}